.createUserForm {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: relative;
}

.inputBlock label {
  color: white;
}

.inputBlock input {
  width: 100%;
  background: #202020;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  outline: none;
  color: white;
}

.createUserForm button {
  background: #ff7b31;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.createUserForm button:hover {
  opacity: 0.5;
}

.selectBlock {
  position: absolute;
  bottom: -80px;
  background: #1f1f1f;
  width: 100px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: opacity 0.2s ease;
}

.selectBlock li {
  font-size: 14px;
  cursor: pointer;
}

.selectBlock li:hover {
  opacity: 0.5;
}
